body{
    background:pink;
    padding-top: 250px;
}
label{ 
    color: rgba(0, 0, 0, 0.66) ;
}
div{
    color: rgb(14, 12, 12);
}
h1{
    text-align: center;
}

form{
    margin: 0 auto; 
    height: auto;
    width:250px;
    text-align: center;
    background-color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
   position: center fixed;
   
   
}

 